@font-face {
  font-family: "CoreSansNBlack";
  src: url("/assets/Core_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.font-core {
  font-family: "CoreSansNBlack", sans-serif;
}
